header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action=routes.result, method="get")
            input(type="text", placeholder="검색", name="search_query")        
    .header__column
        ul
            li
                form(action=routes.videos(1)+routes.upload, method="get")
                    button.header-button 업로드
            li
                button.header-button
                    a(href=routes.login) 로그인