.header{
    background-color: $sideblack;
    z-index: 2020;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    position: fixed;
    top:0;
    height: var(--masthead-height);
    width: 100%;
    min-width: 500px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    // border-bottom: solid black 1px;
    form{
        display: none;
    }
    .header-column{
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .header_item{
        position: relative;
        height: 54px;
        padding: 3px 10px;
        font-size: 16px;
    }
    .header-column.left{
        padding-left: 10px;
        justify-content: flex-start;
        .logo{
            display: inline-block;
            height: 54px;
            color:red;
            font-size: 16px;
        }
    }
    .header-column.center{
        flex: 0 1 728px;
        .header_item{
            width: 100%;
            padding: 12px 10px;
        }
        .search_wrap{
            display: flex;
            align-items: center;
            height: 30px;
            background-color: $sideblack;
            border-radius: 3px;
            justify-content: flex-end;
        }
        .search_input_wrap{
            width: calc( 100% - 30px);
            height: 30px;
            border: 1px solid rgb(48,48,48);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding: 2px 6px;
            .search_input{
                width: 100%;
                height: 24px;
                background: transparent;
                color: white;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .search_button{
            width: 30px;
            height: 30px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            cursor: pointer;
            background-color: rgb(48,48,48);
            color: rgba(255,255,255, 0.5);
            font-size: 15px;
        }
    }
    .header-column.right{
        padding-right: 10px;
        justify-content: flex-end;
        .header_item{
            padding: 12px 10px;
            
            #header_login_input{
                display: none;
            }
            .header_login_label{
                display: flex;
                border: solid white 1px;
                border-radius: 3px;
                height: 30px;
                width: 85px;
                justify-content: space-between;
                align-items: center;
                padding: 0 5px;
                cursor: pointer;
            }
        }
        .header_search{
            width: 30px;
            height: 30px;
            font-size: 20px;
        }
        .header_upload{
            display: flex;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            font-size: 17px;
        }
        .header_avatar{
            width: 30px;
            height: 30px;
            background-color: black;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            overflow: hidden;
            padding: 0;
            img{
                pointer-events: none;
                user-select: none;
                width: 30px;
                height: 30px;
            }
        }
        .personalTools{
            display: none;
            position: absolute;
            top: 46px;
            right: 10px;
            width: 130px;
            padding: 10px 0;

            background-color: $black;
            border: solid gray 1px;
            border-top: none;
            .header_btn{
                display: flex;
                width: 100%;
                #header_logout_input{
                    display: none;
                }
                a{
                    user-select: none;
                }
                .header_render{
                    cursor: pointer;
                    width: 100%;
                    padding: 10px;
                }
            }
            .header_btn:hover{
                background-color: gray;
            }
        }
        .tools-active{
            display: block;
        }
    }
}
.header_scroll{
    background-color: $black;
}

@media (max-width: 500px){
    .header-column.center{
        display: none;
    }
}