extends ../layouts/main


block content
    h1 EDIT
    form(id="editVideo-form", method="POST")
        input(form="editVideo-form", type = "text", name = "title", placeholder="Title", requird, value=video.title)
        input(form="editVideo-form", type = "text", name = "description", placeholder="Description", value=video.description)
        input(form="editVideo-form", type = "submit", value="UPDATE")

    input(form="editVideo-form", type = "submit", value="DELETE VIDEO", name="delete")