extends ../layouts/main

block content
    h1 EDIT PROFILE
    form(id="editProfile-form", method="POST", enctype="multipart/form-data")
        input(form="editProfile-form", type = "text", name = "name", placeholder=me.name)
        img(src=me.avatar, id="avatar-preview")
        input(form="editProfile-form", type = "file", name = "avatar" accept="image/*")
        input(form="editProfile-form", type="checkbox", name="check")
        // 체크될 경우 구글 프로필 이미지를 사용한다.
        input(form="editProfile-form", type = "submit", value="UPDATE")
