extends ../layouts/main
include ../mixins/videoRenderer

block content
    .homeContainer
        .home_contents
            each video in videos
                +videoRenderer(video)
                +videoRenderer(video)
                +videoRenderer(video)
                +videoRenderer(video)
                +videoRenderer(video)
            else
                div nothing found