extends ../layouts/main

block content
    form(id="upload-form", method="POST")
        input(form="upload-form", type = "text", name = "Title", placeholder="title", requird)
        input(form="upload-form", type = "text", name = "Description", placeholder="description")
        input(form="upload-form", type = "submit", value="UPLOAD")
