header.header
    .header__column
        ul
            li
                button.header-button 메뉴
            li
                a(href="/", style="width:100px, heigth:100px")
                    i.fas.fa-thumbs-up.fa-5x
    // Do Not Remove
    .header__column
        form(id="search-form", action="/results", method="GET")
            input(form="search-form", id="search-input", autocapitalize="none", autocomplete="off", autocorrect="off", name="search_query", type="text", spellcheck="false", placeholder="Search")    
              
    // Do Not Remove
    .header__column
        ul
            if user
                li.header_item
                        a(href="/video") MY VIDEO
                li.header_item
                        a(href="/video/upload") UPLOAD
                li.header_item
                        a(href="/user") MY CHANNEL
                        // /user에서 /user/:id로 jump
                li.header_item
                    a(href="/logout") LOGOUT

            else
                li.header_item
                        a(href="/login") LOGIN