extends ../layouts/main

block content
    .guide-aside
        include ../partials/miniaside
    .channel-content-container
        .channel-top_banner
        .channel-container
            .channel-header
                .channel-header-container
                    .channel-avatar
                    .channel-info-container
                        .channel-info-name
                        .channel-info-sub_count
                    .channel-sub_button
        .tabs-container
            ul
                li.tabbed-header-renderer
                    a.tab-content 홈
                li.tabbed-header-renderer
                    a.tab-content 동영상
                li.tabbed-header-renderer
                    a.tab-content 재생목록
    block channelcontent