doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // script(src="https://kit.fontawesome.com/8aed175674.js", crossorigin="anonymous")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title #{pageTitle} WeTube
    body
        include ../partials/header
        block content
        include ../partials/footer
